# DO NOT MERGE THIS FILE WITH DEVELOP OR MASTER
# THIS .gitignore FILE IS UNIQUE TO THIS FEATURE BRANCH

# Unit test files
test/

# QtCreator Specific
*.pro.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# output directories
obj/
bin/
moc/
.auto_runtest

# stray editor files
*.swp

# 
crash-stack.txt

